.bg-your-image {
  background-image: url('src/assets/images/backgroundHeroImage.png');
  background-repeat: no-repeat;
  background-color: aqua;
  background-position: center;
  background-size: cover;
}
